In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# An arbitrary dictionary

dict = {
    'name' : [
        'Daniel', 'Bryce', 'Erica', 
        'Andrew', 'Wei', 'Elizabeth'
    ],
    'fav_num' : [6,1,23,6.2,154,2.5]
}

In [9]:
file = open('/home/daniel/Math2212/Data/ch03/adult.data', 'r')
def chr_int(a):
    if a.isdigit(): return int(a)
    else: return 0

data = []
for line in file:
    data1 = line.split(', ')
    if len(data1) == 15:
        data.append([
            chr_int(data1[0]), data1[1],
            chr_int(data1[2]), data1[3],
            chr_int(data1[4]), data1[5],
            data1[6], data1[7], data1[8],
            data1[9], chr_int(data1[10]),
            chr_int(data1[11]),
            chr_int(data1[12]),
            data1[13], data1[14]
        ])
    
# Create the dataframe & name the columns
adult = pd.DataFrame(data,  
    columns = [
        'age', 'type_employer', 'fnlwgt',
        'education', 'education_num', 'marital',
        'occupation', 'relationship', 'race',
        'sex', 'capital_gain', 'capital_loss',
        'hr_per_week', 'country', 'income'
        ])    

adult.head()

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K\n
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K\n
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K\n
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K\n
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K\n

In [14]:
adult['age'].mode()

x = {'x1' : [2,3,3,4]}
df = pd.DataFrame(x)

df["x1"].mode()

0    3
dtype: int64